@media only screen and (max-width: 767px) {
  /* -- SECTIONS/ROWS/COLUMNS -- */

  .row-2x .et_pb_column,
  .row-3x .et_pb_column,
  .row-4x .et_pb_column,
  .row-5x .et_pb_column {
    width: 100% !important;
  }

  .row-3x > div:nth-child(1),
  .row-3x > div:nth-child(2),
  .row-4x > div:nth-child(1),
  .row-4x > div:nth-child(2),
  .row-4x > div:nth-child(3),
  .row-5x > div:nth-child(1),
  .row-5x > div:nth-child(2),
  .row-5x > div:nth-child(3),
  .row-5x > div:nth-child(4),
  .row-6x > div:nth-child(1),
  .row-6x > div:nth-child(2),
  .row-6x > div:nth-child(3),
  .row-6x > div:nth-child(4),
  .row-6x > div:nth-child(5) {
    margin-bottom: var(--space--large) !important;
  }
  /* fixes two and three column rows margin bottoms */
  .row-2x > div:first-child:not(.margin-0) {
    margin-bottom: var(--space--large) !important;
    margin-right: 0 !important;
  }

  /* removes left margin on two columns */
  .row-2x > div:last-child {
    margin-left: 0 !important;
  }
  /* prevents columns with just backgrounds from disappearing  */
  .empty-col-background {
    display: block !important;
    height: 50vh !important;
  }

  .content-width-10,
  .content-width-20,
  .content-width-30,
  .content-width-40,
  .content-width-50,
  .content-width-60,
  .content-width-70,
  .content-width-80,
  .content-width-90 {
    width: 100% !important;
  }

  /* ----------------- */

  /* -- BUTTONS -- */

  /* centers the text in buttons */
  .et_pb_button_module_wrapper > a {
    text-align: center;
  }
  /* styles the divi overlay close button */
  .divi-life-custom-close {
    right: var(--space--medium);
    top: var(--space--medium);
    line-height: 0.5;
    background: transparent !important;
  }
  /* fixes button before icon margin RESERVED */
  /* .et_pb_button:before {
    margin-left: 0 !important;
  } */
  /* fixes button before icon margin */
  /* .icon-box::before {
    left: 0 !important;
  } */

  /* fixes button icons size */
  /* .button-list {
    width: 100% !important;
    margin-bottom: var(--space--x--small);
  } */
  /* removes the bottom margin for the last button */
  /* .button-list-row .et_pb_code:last-child a.button-list {
    margin-bottom: 0;
  } */
  /* removes right margin on small devices */
  /* .button-list-row .et_pb_button_module_wrapper {
    margin-right: 0 !important;
    display: block !important;
  } */
  /* stacks the buttons vertically */
  /* .button-list-row .et_pb_column {
    flex-direction: column;
  } */
  /* ----------------- */
  /* -- GENERAL -- */
  /* removes default margin applied by theme */
  body {
    margin: 0 !important;
  }

  /* ----------------- */



/* -- SITE CUSTOM -- */

  #page-header-hero-img img {
    aspect-ratio: 1/1 !important;
  }

  /* check */
  #grid {
    grid-template-columns: 1fr 1fr !important;
  }  
  #grid > div {
    /* grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
    grid-area: auto !important;
  }  

/* ----------------- */

}

@media only screen and (max-width: 980px) and (max-height: 550px) and (orientation: landscape) {
  /* -- HEADER -- */
  /* ensures the header content fills the space */
  #page-header-home {
    height: 100%;
  }
  /* adds space between menu and next section */
  #header-row .et_pb_column {
    padding: var(--space--large);
  }
  /* ----------------- */

  /* -- DIVI OVERLAY -- */
  /* makes the overlays with scrollbars begin from the top */
  .divioverlay .et_pb_section {
    align-items: start !important;
    overflow: scroll !important;
  }
  /* ----------------- */

  /* -- SITE CUSTOM -- */
  #overlay-2407 {
    background-color: var(--color--accent--primary);
    padding: var(--space--large);
    overflow: scroll;
    --row--max--width: 100% !important;
    justify-content: center;
    padding: 0;
  }
  #overlay-2407 img {
    width: 40% !important;
  }
  /* ----------------- */
}

@media only screen and (min-width: 768px) and (max-width: 980px) {
  /* -- SECTIONS/ROWS/COLUMNS -- */

  .row-2x,
  .row-3x,
  .row-4x,
  .row-5x,
  .row-6x {
    flex-direction: row !important;
  }
  .row-2x .et_pb_column,
  .row-4x .et_pb_column {
    width: calc((100% - var(--space--medium)) / 2) !important;
  }
  .row-4x > div:nth-child(1) {
    margin-right: var(--space--medium) !important;
    margin-bottom: var(--space--medium) !important;
  }
  .row-4x > div:nth-child(2) {
    margin-bottom: var(--space--medium) !important;
  }
  .row-4x > div:nth-child(3) {
    margin-right: var(--space--medium) !important;
    margin-bottom: 0 !important;
  }
  .row-4x > div:nth-child(4) {
    margin-bottom: 0 !important;
  }

  .row-5x .et_pb_column {
    width: calc((100% - (var(--space--medium) * 2)) / 3) !important;
  }
  .row-5x > div:nth-child(1) {
    margin-right: var(--space--medium) !important;
    margin-bottom: var(--space--medium) !important;
  }
  .row-5x > div:nth-child(2) {
    margin-right: var(--space--medium) !important;
    margin-bottom: var(--space--medium) !important;
  }
  .row-5x > div:nth-child(3) {
    margin-bottom: var(--space--medium) !important;
  }
  .row-5x > div:nth-child(4) {
    margin-right: var(--space--medium) !important;
    margin-bottom: 0 !important;
  }
  .row-5x > div:nth-child(5) {
    margin-right: var(--space--medium) !important;
    margin-bottom: 0 !important;
  }

  .row-6x .et_pb_column {
    width: calc((100% - (var(--space--medium) * 2)) / 3) !important;
  }
  .row-6x > div:nth-child(1) {
    margin-right: var(--space--medium) !important;
    margin-bottom: var(--space--medium) !important;
  }
  .row-6x > div:nth-child(2) {
    margin-right: var(--space--medium) !important;
    margin-bottom: var(--space--medium) !important;
  }
  .row-6x > div:nth-child(3) {
    margin-bottom: var(--space--medium) !important;
  }

  .row-6x > div:nth-child(4) {
    margin-right: var(--space--medium) !important;
    margin-bottom: 0 !important;
  }
  .row-6x > div:nth-child(5) {
    margin-right: var(--space--medium) !important;
    margin-bottom: 0 !important;
  }
  .row-6x > div:nth-child(6) {
    margin-bottom: 0 !important;
  }

  /* use only in columns */
  .content-width-10 {
    /* width: 20% !important; */
    flex-basis: 20%;
    min-width: 20%;
  }
  .content-width-20 {
    /* width: 30% !important; */
    flex-basis: 30%;
    min-width: 30%;
  }
  .content-width-30 {
    /* width: 40% !important; */
    flex-basis: 40%;
    min-width: 40%;
  }
  .content-width-40 {
    /* width: 50% !important; */
    flex-basis: 50%;
    min-width: 50%;
  }
  .content-width-50 {
    /* width: 60% !important; */
    flex-basis: 60%;
    min-width: 60%;
  }
  .content-width-60 {
    /* width: 70% !important; */
    flex-basis: 70%;
    min-width: 70%;
  }
  .content-width-70 {
    /* width: 80% !important; */
    flex-basis: 80%;
    min-width: 80%;
  }
  .content-width-80 {
    /* width: 90% !important; */
    flex-basis: 90%;
    min-width: 90%;
  }
  .content-width-90 {
    /* width: 100% !important; */
    flex-basis: 100%;
    min-width: 100%;
  }

  /* prevents columns with just backgrounds from disappearing  */
  .empty-col-background {
    display: block !important;
  }
  /* ----------------- */

  /* check */
  #grid {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media only screen and (max-width: 980px) {
  /* -- SECTIONS/ROWS/COLUMNS -- */

  /* removes column bottom margin added on small devices */
  .et_pb_column {
    margin-bottom: 0;
  }
  /* sets all rows to flow in a column  */
  .row-2x,
  .row-3x,
  .row-4x,
  .row-5x,
  .row-6x {
    flex-direction: column;
  }
  /* ----------------- */
  /* -- SPACE -- */

  :root {
    --space--xx--small: 0.5em !important;
    --space--x--small: 0.8em !important;
    --space--small: 1em !important;
    --space--medium: 1.4em !important;
    --space--large: 1.9em !important;
    --space--large--xl: 2.4em !important;
    --space--large--xxl: 2.9em !important;
  }
  /* ----------------- */
  /* -- TEXT -- */

  :root {
    --font--secondary--size--small: 13px !important;
    --font--secondary--size--medium: 17px !important;
    --font--secondary--size--large: 20px !important;
  }
  /* ----------------- */
}

@media only screen and (min-width: 980px) and (max-width: 1439px) {
  /* -- SPACE -- */
  :root {
    --space--xx--small: 0.5em !important;
    --space--x--small: 0.8em !important;
    --space--small: 1.2em !important;
    --space--medium: 2em !important;
    --space--large: 2.7em !important;
  }
  /* ----------------- */
  /* -- TEXT -- */
  :root {
    --font--secondary--size--small: 14px !important;
    --font--secondary--size--medium: 18px !important;
    --font--secondary--size--large: 21px !important;
  }
  /* ----------------- */
}

@media only screen and (min-device-width: 375px) and (max-device-width: 1024px) {
  /* -- DIVI OVERLAY -- */

  /* fix for divi overlay */
  .osx.et_mobile_device .divioverlay .entry-content {
    margin: 0 !important;
  }
  /* ----------------- */
}

@media only screen and (max-width: 1365px) {
  /* -- SECTIONS/ROWS/COLUMNS -- */
  /* sets the width of rows assuming it's not full width */
  .et_pb_row:not(.row-full-width) {
    --row--max--width: 90vw;
  }
  /* ----------------- */
  /* -- DIVI OVERLAY -- */
  /* sets the width of divi overlay rows */
  .overlay-row {
    --row--max--width: 80vw !important;
  }
  /* ----------------- */
}

@media only screen and (min-width: 1366px) {
  /* -- SECTIONS/ROWS/COLUMNS -- */
  .et_pb_row:not(.row-full-width) {
    --row--max--width: 85vw;
  }
  /* ----------------- */
  /* -- DIVI OVERLAY -- */
  .overlay-row {
    --row--max--width: 75vw !important;
  }
  /* ----------------- */
}

@media only screen and (min-width: 1680px) {
  /* -- SECTIONS/ROWS/COLUMNS -- */
  .et_pb_row:not(.row-full-width) {
    --row--max--width: 80vw;
  }
  /* ----------------- */
  /* -- DIVI OVERLAY -- */
  .overlay-row {
    --row--max--width: 70vw !important;
  }
  /* ----------------- */
}

@media only screen and (min-width: 1920px) {
  /* -- SECTIONS/ROWS/COLUMNS -- */

  .et_pb_row:not(.row-full-width) {
    --row--max--width: 75vw;
  }

  /* ----------------- */
  /* -- DIVI OVERLAY -- */
  .overlay-row {
    --row--max--width: 65vw !important;
  }

  /* ----------------- */
}

@media only screen and (min-width: 2000px) {
  /* -- SECTIONS/ROWS/COLUMNS -- */
  /* caching fix */
  .et_pb_section {
    padding: inherit !important;
  }
  /* ----------------- */
}

@media only screen and (min-width: 2560px) {
  /* -- DIVI OVERLAY -- */

  .overlay-row {
    --row--max--width: 45vw !important;
  }
  /* ----------------- */
}

/* ----------------- */
/* ----------------- */
/* ----------------- */
/* ----------------- */
/* ----------------- */
/* ----------------- */
/* ----------------- */
/* ----------------- */
/* ----------------- */
/* ----------------- */
/* ----------------- */
/* ----------------- */

/* -- FSLIGHTBOX -- */

/* add default background color to the lightbox */

.fslightbox-container {
  background: black;
}

.fslightbox-thumbs {
  background: transparent;
}

.fslightbox-slide-btn {
  background: transparent;
}

.fslightbox-slide-number-container {
  display: none;
}

/* centers and blurs the fullscreen lightbox toolbar */

.fslightbox-toolbar {
  background: transparent;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* fixes the lightbox close x  */

.mfp-image-holder .mfp-close {
  font-size: var(--font--secondary--size--medium);
  opacity: 1;
  top: 0;
}

.mfp-title {
  display: none;
}

/* ----------------- */

/* -- IMAGE COMPARISON - RESERVED -- */

/* sets the properties for comparison sliders */

/* img-comparison-slider {
    --handle-size: clamp(30px, 2vw, 3vh);
    --handle-opacity: 1;
    border-radius: 10px;
  }
   */
/* .custom-handle {
    width: var(--handle-size);
    height: var(--handle-size);
  }
   */
/* ----------------- */

/* -- VIDEO - RESERVED -- */

/* adds a overlay on top of the video in page headers */

/* #video-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.3) 100%
  ) !important;
} */

/* makes the gradient sit above the video */

/* #video-header > .et_pb_row {
  z-index: 2;
} */

/* video {
  border-radius: 10px;
} */

/* ----------------- */

/* -- FONT AWESOME -- */

/* fixes padding of icons in stacks */

.fa-stack {
  margin-bottom: 0.5em;
}

.fa-stack i:first-child {
  font-size: var(--font--secondary--size--small) !important;
  color: var(--color--black--1);
}
/* ensures icons are always center */
.font-awesome-center-fix {
  line-height: normal;
  vertical-align: middle;
}
.fa-ul li {
  padding-left: var(--space--x--small);
}
.fa-ul {
  margin: 0;
  padding: 0 0 0 0.5em !important;
}
.fa-li {
  font-size: 0.4rem;
}
/* .icon RESERVED {
    font-size: 2.5em;
    color: var(--color--dark--contrast--8);
  }
  
  .icon::before {
    display: inline-block;
    font-style: var(--font--style--normal);
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    opacity: initial;
    font-family: "Font Awesome 6 Pro";
    font-weight: 100;
  }
  
  .icon-box::before {
    display: block;
    font-style: var(--font--style--normal);
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    opacity: initial;
    font-family: "Font Awesome 6 Pro";
    font-weight: 100;
    position: inherit;
    font-size: var(--font--secondary--size--small) !important;
    left: var(--space--x--small);
    padding-bottom: 0.3em;
  }
  
  .lamp::before {
    content: "\f4ca";
  }
  
  .lamp-floor::before {
    content: "\e015";
  } */

/* ----------------- */

/* -- BUTTONS -- */



.button-main {
  font-family: var(--font--secondary--family);
  font-size: var(--font--secondary--size--small);
  font-weight: var(--font--secondary--weight--light) !important;
  text-transform: uppercase !important;
  color: var(--color--static--white) !important;
  background-color: var(--color--accent--primary);
  white-space: nowrap;
  border: var(--border--small) !important;
  border-radius: var(--border--radius--small) !important;
  filter: var(--shadow--drop--light);
  /* outline: rgb(0 0 0 / 5%) solid 1px; */
}

.button-main:hover {
  /* color: var(--color--black--4) !important; */
  background-color: var(--color--accent--primary--4) !important;
  border-color: transparent !important;
  filter: none;
}

.button-transparent-white {
    font-family: var(--font--secondary--family);
    font-size: var(--font--secondary--size--small);
    font-weight: var(--font--secondary--weight--light) !important;
  text-transform: uppercase !important;
  color: var(--color--white) !important;
  background-color: transparent;
  border-width: 1px !important;
  border-color: var(--color--white);
  border-width: 1px !important;
  border-radius: var(--border--radius--small) !important;
  filter: var(--shadow--drop--light);
  /* text-decoration-color: #000000!important; */
}

.button-transparent-white:hover {
  color: var(--color--white--4) !important;
  border-color: var(--color--white--4) !important;
}
.button-transparent-black {
    font-family: var(--font--secondary--family);
    font-size: var(--font--secondary--size--small);
    font-weight: var(--font--secondary--weight--light) !important;
  text-transform: uppercase !important;
  color: var(--color--black) !important;
  background-color: transparent;
  border-color: var(--color--black);
  border-width: 1px !important;
  border-radius: var(--border--radius--small) !important;
  filter: var(--shadow--drop--light);
  /* text-decoration-color: #000000!important; */
}

.button-transparent-black:hover {
  color: var(--color--black--4) !important;
  border-color: var(--color--black--4) !important;
}

/* removes default after icon on buttons */

.et_pb_button:after {
  display: none !important;
}

/* styles the divi overlay button */
.divi-life-custom-close {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  right: var(--space--medium);
  top: var(--space--medium);
  border: var(--border--medium);
  border-radius: var(--border--radius--small);
  padding: var(--space--xx--small) var(--space--x--small)
    var(--space--xx--small) var(--space--x--small);
  background: var(--color--accent--primary--2);
}

.divi-life-custom-close:hover {
  opacity: 1;
}

/* .button-breadcrumb RESERVED {
  
  }
  
  .button-breadcrumb:hover {
    color: var(--color--black--6);
  } */

/* fixes styling for before icons used in buttons */

/* .et_pb_button:before  RESERVE{
    font-size: inherit;
    line-height: inherit;
    margin-left: -1.5em;
    padding-top: 0.1em;
  }
   */

/* adds bottom margin to buttons in a list */

/* .button-list RESERVED {
    width: min-content;
    white-space: normal !important;
    padding: 1.2em !important;
    color: var(--color--black--8) !important;
    border-width: 1px !important;
    border-color: var(--color--black--8) !important;
    border-radius: 10px;
    font-size: 16px;
    text-transform: uppercase !important;
    font-family: var(--font--secondary--family);
    font-weight: var(--font--secondary--weight--light) !important;
    font-style: var(--font--style--normal);
  } */

/* .button-list:hover {
    border-radius: 10px !important;
  } */

/* .button-list-row .et_pb_column  RESERVED{
    display: flex;
    justify-content: center;
  } */

/* adds spacing bewtween icon buttons and makes them wrap + adds a drop shadow */

/* .button-list-row .et_pb_button_module_wrapper RESERVED {
    display: inline-block;
    margin-right: var(--space--x--small);
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.7));
  } */

/* removes right margin for last button in list */

/* .button-list-row .et_pb_code:last-child .et_pb_button_module_wrapper RESERVED {
    margin-right: 0;
  } */

/* ----------------- */

/* -- TEXT -- */

:root {
  --font--primary--family: hummingbird, sans-serif;
  --font--primary--weight--light: 400;
  /* --font--primary--weight--strong: 500; */

  --font--primary--size--small: 27px;
  --font--primary--size--medium: 30px;
  --font--primary--size--large: 37px;

  --font--secondary--family: chaparral-pro, serif;
  --font--secondary--weight--light: 400;
  --font--secondary--weight--strong: 600;

  --font--secondary--size--small: 18px;
  --font--secondary--size--medium: 21px;
  --font--secondary--size--large: 24px;

  --font--style--normal: normal;
  --font--style--italic: italic;

  --font--line--height--small: 1.1em;
  --font--line--height--medium: 1.2em;
  --font--line--height--large: 1.3em;
}

.text-shadow {
  text-shadow: 2px 2px 2px var(--color--black);
}

body {
  font-family: var(--font--secondary--family);
  font-weight: var(--font--secondary--weight--light);
  font-style: var(--font--style--normal);
  line-height: var(--font--line--height--large);
}

p {
  /* creates a text shadow look RESRVED
      filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, .3));*/
  font-size: var(--font--secondary--size--medium);
  font-family: var(--font--secondary--family);
  font-weight: var(--font--secondary--weight--light);
  font-style: var(--font--style--normal);
  line-height: var(--font--line--height--large);
}

.font-primary-size-small {
  font-size: var(--font--primary--size--small);
}
.font-primary-size-medium {
  font-size: var(--font--primary--size--medium);
}
.font-primary-size-large {
  font-size: var(--font--primary--size--large);
}

.font-secondary-size-small {
  font-size: var(--font--secondary--size--small);
}
.font-secondary-size-medium {
  font-size: var(--font--secondary--size--medium);
}
.font-secondary-size-large {
  font-size: var(--font--secondary--size--large);
}

h1,
h2,
h3,
h3,
h4,
h5 {
  font-family: var(--font--secondary--family);
  font-weight: var(--font--secondary--weight--light);
  font-style: var(--font--style--normal);
  line-height: var(--font--line--height--medium);
  color: var(--color--black--8);
}

h1 {
  padding-bottom: var(--space--xx--small) !important;
  font-size: var(--font--primary--size--large);
}
h2 {
  font-size: var(--font--primary--size--medium) !important;
}
h3 {
  font-size: var(--font--primary--size--medium);
}
h4 {
  font-size: var(--font--primary--size--small) !important;
  padding-bottom: 0.5em;
}
h4 span {
  font-family: var(--font--secondary--family);
  font-weight: var(--font--secondary--weight--light);
  font-size: var(--font--secondary--size--medium);
}
h5.et_pb_toggle_title {
  color: var(--color--black) !important;
  font-size: var(--font--primary--size--small);
}
h5 {
  font-size: calc(var(--font--primary--size--small) - 0.5em);
}

.single-post h2,
.single-post h3,
.single-post h3,
.single-post h4,
.single-post h5 {
  color: var(--color--black--8);
}

/* sets h1 properties on Pages */

#page-container h1 {
  padding-bottom: var(--space--xx--small) !important;
  line-height: 1.1em;
}

/* sets h3 on Pages to be the same size as h4 */

#page-container h3 {
  font-size: var(--font--primary--size--medium);
}
/* ----------------- */

/* -- FILTERS -- */

.backdrop-filter-5 {
  backdrop-filter: blur(5px);
}

.backdrop-filter-10 {
  backdrop-filter: blur(10px);
}

.backdrop-filter-20 {
  backdrop-filter: blur(20px);
}

.filter-10 {
  filter: blur(10px);
}

/* ----------------- */

/* -- LINKS -- */

/* styles in paragraph links */

a,
p a,
.single-post a,
li a {
  font-family: var(--font--secondary--family);
  font-weight: var(--font--secondary--weight--light);
  font-style: var(--font--secondary--weight--light);
  line-height: initial;
  border-bottom: 1px solid var(--color--black--8);
  color: var(--color--black--8);
}

a:hover,
p a:hover,
.single-post a:hover,
li a:hover {
  color: var(--color--black--4) !important;
  border-bottom: transparent;
}

a:visited,
p a:visited,
.single-post a:visited,
li a:visited {
  color: var(--color--black--8);
}

/* ----------------- */

/* -- COLOUR -- */

:root {
  --color--background: #fff;
  --color--background--1: rgba(255, 255, 255, 0.1);
  --color--background--2: rgba(255, 255, 255, 0.2);
  --color--background--4: rgba(255, 255, 255, 0.4);
  --color--background--6: rgba(255, 255, 255, 0.6);
  --color--background--8: rgba(255, 255, 255, 0.8);

  --color--accent--primary: #e75bce;
  --color--accent--primary--1: rgba(231, 91, 206, 0.1);
  --color--accent--primary--2: rgba(231, 91, 206, 0.2);
  --color--accent--primary--4: rgba(231, 91, 206, 0.4);
  --color--accent--primary--6: rgba(231, 91, 206, 0.6);
  --color--accent--primary--8: rgba(231, 91, 206, 0.8);

  --color--accent--secondary: #cacbbf;
  --color--accent--secondary--1: rgba(202, 203, 191, 0.1);
  --color--accent--secondary--2: rgba(202, 203, 191, 0.2);
  --color--accent--secondary--4: rgba(202, 203, 191, 0.4);
  --color--accent--secondary--6: rgba(202, 203, 191, 0.6);
  --color--accent--secondary--8: rgba(202, 203, 191, 0.8);

  /* color white/black will invert when dark */

  --color--white: white;
  --color--white--1: rgba(255, 255, 255, 0.1);
  --color--white--2: rgba(255, 255, 255, 0.2);
  --color--white--4: rgba(255, 255, 255, 0.4);
  --color--white--6: rgba(255, 255, 255, 0.6);
  --color--white--8: rgba(255, 255, 255, 0.8);

  --color--black: black;
  --color--black--1: rgba(0, 0, 0, 0.1);
  --color--black--2: rgba(0, 0, 0, 0.2);
  --color--black--4: rgba(0, 0, 0, 0.4);
  --color--black--6: rgba(0, 0, 0, 0.6);
  --color--black--8: rgba(0, 0, 0, 0.8);

  /* color static white/black will change even when inverted */

  --color--static--white: white;
  --color--static--white--05: rgba(255, 255, 255, 0.05);
  --color--static--white--1: rgba(255, 255, 255, 0.1);
  --color--static--white--2: rgba(255, 255, 255, 0.2);
  --color--static--white--4: rgba(255, 255, 255, 0.4);
  --color--static--white--6: rgba(255, 255, 255, 0.6);
  --color--static--white--8: rgba(255, 255, 255, 0.8);

  --color--static--black: black;
  --color--static--black--05: rgba(0, 0, 0, 0.05);
  --color--static--black--1: rgba(0, 0, 0, 0.1);
  --color--static--black--2: rgba(0, 0, 0, 0.2);
  --color--static--black--4: rgba(0, 0, 0, 0.4);
  --color--static--black--6: rgba(0, 0, 0, 0.6);
  --color--static--black--8: rgba(0, 0, 0, 0.8);
}

.dark-mode {
  --color--background: #2f0728;
  --color--background--1: rgba(85, 70, 58, 0.1);
  --color--background--2: rgba(0, 0, 0, 0.2);
  --color--background--4: rgba(0, 0, 0, 0.4);
  --color--background--6: rgba(0, 0, 0, 0.6);
  --color--background--8: rgba(0, 0, 0, 0.8);

  --color--accent--primary: #9f368c;
  --color--accent--primary--1: rgba(159, 54, 140, 0.1);
  --color--accent--primary--2: rgba(159, 54, 140, 0.2);
  --color--accent--primary--4: rgba(159, 54, 140, 0.4);
  --color--accent--primary--6: rgba(159, 54, 140, 0.6);
  --color--accent--primary--8: rgba(159, 54, 140, 0.8);

  --color--accent--secondary: #6e5a3f;
  --color--accent--secondary--1: rgba(110, 90, 63, 0.1);
  --color--accent--secondary--2: rgba(110, 90, 63, 0.2);
  --color--accent--secondary--4: rgba(110, 90, 63, 0.4);
  --color--accent--secondary--6: rgba(110, 90, 63, 0.6);
  --color--accent--secondary--8: rgba(110, 90, 63, 0.8);

  --color--white: black;
  --color--white--1: rgba(0, 0, 0, 0.1);
  --color--white--2: rgba(0, 0, 0, 0.2);
  --color--white--4: rgba(0, 0, 0, 0.4);
  --color--white--6: rgba(0, 0, 0, 0.6);
  --color--white--8: rgba(0, 0, 0, 0.8);

  --color--black: white;
  --color--black--1: rgba(255, 255, 255, 0.1);
  --color--black--2: rgba(255, 255, 255, 0.2);
  --color--black--4: rgba(255, 255, 255, 0.4);
  --color--black--6: rgba(255, 255, 255, 0.6);
  --color--black--8: rgba(255, 255, 255, 0.8);
}

/* used to override the color when not applying by default */
.has-color-accent-opaque {
  background-color: var(--color--accent--secondary);
}

.has-color-accent {
  background-color: var(--color--accent--primary);
}

.has-color-contrast {
  color: var(--color--black);
}

.has-color-static-light {
  color: var(--color--static--white) !important;
}

.has-color-static-border-light {
  border-color: var(--color--white);
}

.has-color-static-dark {
  color: var(--color--black);
}

.has-color-static-border-dark {
  border-color: var(--color--black);
}

/* ----------------- */

/* -- SECTIONS/ROWS/COLUMNS -- */

/* makes row full width of screen */

.row-full-width {
  max-width: 100vw !important;
  /* width: 100%; */
}

/* use only in columns */
.content-width-10 {
  /* width: 10% !important; */
  flex-basis: 10%;
  min-width: 10%;
}
.content-width-20 {
  /* width: 20% !important; */
  flex-basis: 20%;
  min-width: 20%;
}
.content-width-30 {
  /* width: 30% !important; */
  flex-basis: 30%;
  min-width: 30%;
}
.content-width-40 {
  /* width: 40% !important; */
  flex-basis: 40%;
  min-width: 40%;
}
.content-width-50 {
  /* width: 50% !important; */
  flex-basis: 50%;
  min-width: 50%;
}
.content-width-60 {
  /* width: 60% !important; */
  flex-basis: 60%;
  min-width: 60%;
}
.content-width-70 {
  /* width: 70% !important; */
  flex-basis: 70%;
  min-width: 70%;
}
.content-width-80 {
  /* width: 80% !important; */
  flex-basis: 80%;
  min-width: 80%;
}
.content-width-90 {
  /* width: 90% !important; */
  flex-basis: 90%;
  min-width: 90%;
}

/* ensures remainig columns with content width restrictions fill space */
.varied-column-width.et_pb_column:not(.content-width-10):not(.content-width-20):not(.content-width-30):not(.content-width-40):not(.content-width-50):not(.content-width-60):not(.content-width-70):not(.content-width-80):not(.content-width-90) {
  /* width: fit-content !important; */
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
}

/* standard offsets for equal row columns */

.row-2x > div:first-child,
.row-3x > div:first-child,
.row-3x > div:nth-child(2),
.row-4x > div:nth-child(1),
.row-4x > div:nth-child(2),
.row-4x > div:nth-child(3),
.row-5x > div:nth-child(1),
.row-5x > div:nth-child(2),
.row-5x > div:nth-child(3),
.row-5x > div:nth-child(4),
.row-6x > div:nth-child(1),
.row-6x > div:nth-child(2),
.row-6x > div:nth-child(3),
.row-6x > div:nth-child(4),
.row-6x > div:nth-child(5) {
  margin-right: var(--space--medium);
}

/* remove default width and margin for single rows */

.row-1x > div {
  margin: 0;
  width: 100%;
}

/* resets padding and section */

.et_pb_row {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  max-width: var(--row--max--width) !important;
}

.et_pb_section {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* ----------------- */

/* -- SHADOWS -- */
:root {
  --shadow--box--light: 0 23px 23px 0 var(--color--static--black--05);
  --shadow--box--medium: -1px 6px 29px 4px var(--color--static--black--1);
  --shadow--box--strong: -1px 6px 29px 4px var(--color--static--black--2);

  --shadow--drop--light: drop-shadow(
    1px 1px 5px var(--color--static--black--2)
  );
  --shadow--drop--medium: drop-shadow(1px 1px 2px var(--color--static--black));
  --shadow--drop--strong: drop-shadow(1px 1px 3px var(--color--static--black));
}

.box-shadow-light {
  box-shadow: var(--shadow--box--light);
}
.box-shadow-medium {
  box-shadow: var(--shadow--box--medium);
}
.box-shadow-strong {
  box-shadow: var(--shadow--box--strong);
}

.drop-shadow-light {
  filter: var(--shadow--drop--light);
}
.drop-shadow-medium {
  filter: var(--shadow--drop--medium);
}
.drop-shadow-strong {
  filter: var(--shadow--box--strong);
}

/* ----------------- */

/* -- SPACE -- */
:root {
  --space--xx--small: 0.7em;
  --space--x--small: 1.1em;
  --space--small: 1.7em;
  --space--medium: 2.8em;
  --space--large: 3.8em;
  --space--large--xl: 4.8em;
  --space--large--xxl: 5.8em;
}
/* ----------------- */

/* -- BORDER -- */
:root {
  --border--small: solid var(--color--black--1) 1px;
  --border--medium: solid var(--color--black--2) 1px;
  --border--large: solid var(--color--black--3) 1px;

  --border--radius--small: 10px;
  --border--radius--medium: 20px;
  --border--radius--large: 30px;
}
/* creates a transparent border - used throughout Code modules */
.border-transparent {
  border-color: transparent;
}
.border-radius-small {
  border-radius: var(--border--radius--medium);
}
.border-radius-medium {
  border-radius: var(--border--radius--medium);
}
.border-radius-large {
  border-radius: var(--border--radius--medium);
}
/* zeros out borders */

.border-0 {
  border-radius: 0 !important;
}

.has-border-radius-small img {
  border-radius: var(--border--radius--small);
}
.has-border-radius-medium img {
  border-radius: var(--border--radius--medium);
}
.has-border-radius-large img {
  border-radius: var(--border--radius--large);
}
/* ----------------- */

/* -- FOOTER -- */

.et-l--footer i {
  color: var(--color--black--8);
}

.et-l--footer i:hover {
  color: var(--color--black--6);
}

.et-l--footer p {
  color: var(--color--black--8);
}

/* ----------------- */

/* -- FORM -- */

/* fixes padding for message confirmation sent text */

.et_pb_contact_form_container {
  padding: 0 !important;
}

.et_pb_contact_form {
  margin-left: 0;
}

.et_pb_contact_field {
  padding: 0 !important;
  margin-bottom: var(--space--x--small) !important;
}
.et_pb_contact_field_last {
  margin-bottom: var(--space--x--small) !important;
}
.input:hover, de_fb_form_field:hover {
  background-color: var(--color--black--1) !important;
}

.et_pb_contact_select {
  padding: var(--space--x--small);
  font-size: var(--font--secondary--size--medium);
}

.et_pb_contact input,
.et_pb_contact textarea {
  font-size: var(--font--secondary--size--medium) !important;
  padding: var(--space--x--small) !important;
  background: var(--color--accent--primary--1) !important;
  color: var(--color--black--8) !important;
  border-radius: var(--border--radius--medium) !important;
  /* border: var(--border--large) !important; */
}

.et_pb_contact p input[type="checkbox"] + label i {
  margin-right: var(--space--xx--small);
}

.et_contact_bottom_container {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  margin-top: var(--space--medium);
  box-shadow: none;
}

.et_pb_contact_right {
  color: var(--color--black--8);
}

.et_contact_bottom_container .et_pb_contact_right {
  margin-bottom: var(--space--medium);
}

.et_pb_contact_right p input {
  max-width: 60px;
  background: var(--color--background) !important;
  color: var(--color--black--8);
}

.et_pb_contact .et_pb_contact_field_half {
  width: calc(50% - var(--space--medium));
}

/* adds space between Divi Form half width fields */
 .grid_et_pb_column_1_2_12  { 
  width: calc(50% - (var(--space--medium) / 2)) !important;
}
.grid_et_pb_column_1_2_12:not(.last-item)  {
  margin-right: var(--space--medium);
} 



.et_pb_contact .et_pb_contact_field_half.et_pb_contact_field_last {
  float: right;
}

.et-pb-contact-message ul {
  padding: 0;
  list-style: none;
}

.et-pb-contact-message > p {
  font-weight: var(--font--secondary--weight--strong);
}

.et_pb_contact_error_text {
  font-weight: var(--font--secondary--weight--strong);
}

.et-pb-contact-message ul:last-child {
  display: none;
}

.et_pb_contact_submit {
  border-width: 1px !important;
  border-radius: var(--border--radius--medium);
  font-family: var(--font--secondary--family);
  font-size: var(--font--secondary--size--medium);
  font-weight: var(--font--primary--weight--strong) !important;
  text-transform: uppercase !important;
  color: var(--color--black) !important;
  border-color: var(--color--black);
  background-color: transparent;
  padding: 0.5em 1.5em 0.4em 1.5em;
  margin: 0;
  /* text-decoration-color: #000000!important; */
}


.et_pb_contact_submit:hover {
  border-color: var(--color--black--4) !important;
  color: var(--color--black--4) !important;
  border-width: 1px !important;
  padding: 0.5em 1.5em 0.4em 1.5em !important;
}


.divi-form-submit  {
  border-width: 1px !important;
  border-radius: var(--border--radius--medium);
  font-family: var(--font--secondary--family);
  font-size: var(--font--secondary--size--medium);
  font-weight: var(--font--primary--weight--strong) !important;
  text-transform: uppercase !important;
  color: var(--color--black) !important;
  border-color: var(--color--black);
  background-color: transparent;
  padding: 0.5em 1.5em 0.4em 1.5em;
  margin: 0;
  /* text-decoration-color: #000000!important; */
}


.divi-form-submit:hover {
  border-color: var(--color--black--4) !important;
  color: var(--color--black--4) !important;
  border-width: 1px !important;
  padding: 0.5em 1.5em 0.4em 1.5em !important;
}

.et_pb_contact p input[type="checkbox"]:checked + label i:before {
  color: var(--color--black);
}

.et_pb_contact p input[type="radio"]:checked + label i:before {
  background: var(--color--black);
}

.et_pb_contact_form_label {
  display: block;
  padding-bottom: var(--space--xx--small);
  padding-left: var(--space--x--small);
  font-size: var(--font--secondary--size--small);
}

.et_pb_contact_field_options_title {
  display: none !important;
}

p[data-type="text"] {
  margin-bottom: var(--space--mediuml) !important;
}

::placeholder {
  color: transparent !important;
}

/* adds color back to Divi Form placeholders */
.divi-form-wrapper ::placeholder {
  color: var(--color--accent--primary--8) !important;
}

/* styles upload file Divi Form */
.de_fb_form_field .dropzone {
  padding: var(--space--medium);
  border: 1px dashed var(--color--black);
  border-radius: var(--border--radius--medium);
}

.de_fb_form .et_contact_bottom_container {
  margin-top: 0;
}

.df_field_description_text {
  padding-bottom: var(--space--xx--small);
  font-size: var(--font--secondary--size--medium);
}

.file_upload_item .preview_image_cont {
  padding: 0 var(--space--small) 0 0 ;
}

.drop-description {
  padding-top: var(--space--x--small);
}


.image_upload_result {
  position: relative !important;
  display: flex;
  align-self: normal;
}
/* ----------------- */

/* -- POSTS -- */

/* removes bottom margin from Posts */

.single .et_pb_post {
  margin-bottom: 0;
}

/* removes bottom padding from Posts */

.single .post {
  padding-bottom: 0;
}

/* removes bottom padding from Posts */

#left-area {
  padding-bottom: 0;
}

/* ----------------- */

/* -- CONTAINER/MAIN-CONTENT -- */

/* ensures that background posts are always transparent */

#page-container #main-content {
  background-color: transparent;
}

/* makes Posts extend to 100% width */

.container {
  width: 100%;
  padding-top: 0 !important;
}

/* ----------------- */

/* -- PICTURE FRAME -- */

/* crops image to different ratios and adds a picture frame */

/* #cropped-image-option img RESERVED{
    height: 300px;
    object-fit: cover;
    border: ridge var(--color--dark-contrast) 1.3em;
    background: var(--color--black);
    padding: var(--space--small);
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
  } */

/* #cropped-image-1-1 img RESERVED {
    width: 300px;
  }
  
  #cropped-image-4-3 img {
    width: 400px;
  } */

/* adds a picture frame around the black and white image */

/* #black-white-section img RESERVED {
    border: 1.3em #cccccc ridge;
    background: #fffaf0;
    padding: var(--space--small);
  }
  
  #wall-art-feature-image-mobile img {
    width: 450px;
    height: 500px;
    object-fit: cover;
  } */

/* ----------------- */

/* -- QUOTES -- */

/* styles quote blocks */

.quote p {
  color: var(--color--black--8);
  font-family: var(--font--primary--family);
  font-weight: var(--font--primary--weight--light);
  font-style: var(--font--style--italic);
  font-size: var(--font--primary--size--small);
}

.quote h4 {
  line-height: var(--font--line--height--small);
}

/* ----------------- */

/* -- TESTIMONIAL -- */

.et_pb_testimonial_author {
  font-family: futura-pt, sans-serif;
  margin-top: var(--space--small);
}

.et_pb_testimonial_content > p {
  padding: 0 !important;
}

.et_pb_testimonial_portrait {
  margin-right: var(--space--small);
}

/* ----------------- */
/* -- LISTS -- */
ul {
  list-style-type: none !important;
  font-size: var(--font--secondary--size--medium);
  font-family: var(--font--secondary--family);
  font-weight: var(--font--secondary--weight--light);
  font-style: var(--font--style--normal);
  line-height: var(--font--line--height--large) !important;
}
li {
  padding-bottom: var(--space--xx--small);
}

/* removes the default li bottom padding */
#nav-bar li {
  padding: 0;
}
/* ----------------- */

/* -- GALLERY -- */

/* places a drop shadow on the gallery slider */
.vp-portfolio__items-wrap {
  filter: var(--shadow--drop--medium);
}

.vp-portfolio__items-style-fade {
  --vp-items-style-fade--image__border-radius: var(
    --border--radius--large
  ) !important;
}

.vp-portfolio__items {
  --vp-items__gap: var(--space--medium) !important;
  filter: opacity(1) saturate(0.9) !important;
}

/* sets the gallery thumbnails to have include the border round variable and drop shadow medium */
.vp-portfolio__thumbnail .vp-portfolio__thumbnail-img img {
  border-radius: var(--border--radius--medium);
}
.fancybox-inner {
  background: var(--color--static--black);
}

.fancybox-infobar {
  color: var(--color--static--white--8) !important;
  font-size: var(--font--secondary--size--medium) !important;
  font-family: var(--font--secondary--family) !important;
}

.vp-fancybox .fancybox-bg {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.fancybox-button,
.fancybox-button:link,
.fancybox-button:visited {
  color: var(--color--static--white--8) !important;
}
.fancybox-button {
  background: transparent !important;
}
.vp-fancybox .fancybox-thumbs__list a::before {
  border: none !important;
}

.vp-fancybox .fancybox-thumbs__list a {
  width: 100% !important;
  aspect-ratio: 1 !important;
}

.fancybox-slide--image {
  padding: var(--space--large);
}

button.fancybox-button--share {
  display: none;
}

.vp-portfolio__pagination-wrap {
  display: none;
}

[data-vp-layout="slider"] .vp-portfolio__items-arrow {
  color: var(--color--black) !important;
  background-color: var(--color--accent--primary) !important;
}

[data-vp-layout="slider"]
  .vp-portfolio__thumbnails-wrap
  .vp-portfolio__thumbnail-wrap {
  margin-right: var(--space--medium) !important;
}
/* ----------------- */

/* -- DIVI OVERLAY -- */
.divioverlay-bg {
  background: transparent !important;
}

.divioverlay {
  height: auto;
}
/* ----------------- */

/* -- BODY -- */

/* sets the colour for text on the whole page, post */

body {
  color: var(--color--black--8) !important;
}

body.custom-background {
  background-color: var(--color--background) !important;
}

html {
  /* scroll-behavior: smooth; */
}

/* ----------------- */

/* -- HEADER -- */
/* removes menu heading  */

header p {
  padding-bottom: 0;
}
/* ----------------- */

/* -- GENERAL -- */
/* used in instances where Divi adds back margins */

.margin-0 {
  margin: 0 !important;
}
.flex-display {
  display: flex;
}
/* hides the recaptcha badge that's shown by deafult */
.grecaptcha-badge {
  visibility: hidden !important;
}

.animate__animated,
.animate__animated .et-boc,
.animate__animated .et-l,
.animate__animated .et_builder_inner_content {
  height: 100%;
}

/* adds space below to error messages on the FORM */
.et_pb_contact_error_text {
  margin-bottom: var(--space--small);
}
blockquote {
  margin: 0;
  border: 0;
  padding: 0;
}
table {
  font-size: var(--font--secondary--size--small);
  font-family: var(--font--secondary--family);
  font-weight: var(--font--secondary--weight--light);
  font-style: var(--font--style--normal);
  line-height: var(--font--line--height--large);
}

.et_pb_toggle_content {
  padding-top: var(--space--x--small);
}
.et_pb_toggle_open {
  padding: var(--space--medium) 0 0 var(--space--large);
  background-color: var(--color--background);
}
.et_pb_toggle_close {
  background-color: var(--color--background);
  padding: var(--space--medium) var(--space--large) 0 var(--space--large);
}
.et_pb_toggle {
  border: none;
  border-radius: var(--border--radius--medium);
}
.et_pb_toggle_title:before {
  color: var(--color--black);
}

* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--color--accent--primary); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color--background); /* color of the scroll thumb */
  border-radius: var(
    --border--radius--medium
  ); /* roundness of the scroll thumb */
  border: 3px solid var(--color--accent--primary); /* creates padding around scroll thumb */
}

figcaption {
  font-style: var(--font--style--italic);
  padding-top: var(--space--xx--small);
}
/* set default filters on all images except the listed */
img:not(.logo img):not(#affinity-insurance img):not(
    #horse-safety-australia img
  ):not(.paragraph-end-icon img) {
  filter: opacity(1) saturate(0.9);
}
/* set default filters for select logos and paragraph end icon */
.paragraph-end-icon img,
#affinity-insurance img,
#horse-safety-australia img {
  filter: opacity(0.8);
}

/* removes the default bottom margin from modules */

.et_pb_module {
  margin-bottom: 0 !important;
}

/* for aligning font awesome icons */

.vertical-align {
  vertical-align: middle;
}

/* used for hiding a link galleries */

.display-none {
  display: none !important;
}

/* adds a pointer cursor  */

.cursor-pointer {
  cursor: pointer;
}
/* sets the divider color - can't be done in Divi Builder */

.divider:before {
  border-color: var(--color--accent--primary) !important;
}
/* ----------------- */

/* ----------------- */

/* ----------------- */
/* ----------------- */
/* ----------------- */
/* ----------------- */

/* -- SITE CUSTOM -- */

/* removes scrollbar for mobile */
#overlay-1302 {
  overflow: hidden;
}

/* styling for the FORM */
#et_pb_contact_form_0-col:hover,
#et_pb_contact_form_1-col:hover {
  background-color: var(--color--black);
  color: var(--color--background);
  border-color: var(--color--background);
}
.landing-page-img.landscape img {
  object-fit: cover;
  aspect-ratio: 2/1;
}

.landing-page-img.portrait img {
  object-fit: cover;
  aspect-ratio: 1/1.5;
}

#page-header-hero-img img {
  object-fit: cover;
  aspect-ratio: 2.33/1;
}

#grid {
  display: grid;
  grid-gap: var(--space--medium);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#grid div {
  background: var(--color--accent--primary--1);
}

#grid > div:nth-child(1) {
  /* grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
  grid-area: 1 / 1 / span 2 / 1;
}
#grid > div:nth-child(2) {
  /* grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
  grid-area: 1 / 2 / 1 / span 2;
}

#grid > div:nth-child(3) {
  /* grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
  grid-area: 3 / 1 / 3 / span 2;
}

#grid a {
  border-bottom: none;
}

/* ----------------- */

/* ----------------- */
/* ----------------- */
/* ----------------- */
/* ----------------- */

/* -- CHANGE -- */