/* -- browser reset and fix -- */

* {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

img,
picture {
    max-width: 100%;
    display: block;
}

button,
input

/* select, TEST */
/* textarea TEST */
    {
    font: inherit;
    background-color: light-dark(var(--color-accent-opaque-light), var(--color-accent-opaque-dark));
    padding: var(--space-tiny);
    border: none;
}

/***/

/* -- root global variables -- */

:root {

    /* -- space -- */

    --space-tiny: 0.5rem;
    --space-small: 1rem;
    --space-medium: 2rem;
    --space-large: 3.5rem;
    --space-huge: 5rem;

    /***/

    /* -- colours -- */

    color-scheme: light dark;

    --color-background-light: #ffffff;
    --color-background-dark: #2f0728;

    --color-accent-light: #9f368c;
    --color-accent-dark: #6b245e;

    --color-accent-opaque-light: rgba(159, 54, 140, 0.5);
    --color-accent-opaque-dark: rgba(107, 36, 94, 0.5);

    --color-contrast-light: black;
    --color-contrast-dark: white;

    --color-contrast-light-1: rgba(0, 0, 0, 0.1);
    --color-contrast-dark-1: rgba(255, 255, 255, 0.1);

    --color-contrast-light-2: rgba(0, 0, 0, 0.2);
    --color-contrast-dark-2: rgba(255, 255, 255, 0.2);

    --color-contrast-light-4: rgba(0, 0, 0, 0.4);
    --color-contrast-dark-4: rgba(255, 255, 255, 0.4);

    --color-contrast-light-6: rgba(0, 0, 0, 0.6);
    --color-contrast-dark-6: rgba(255, 255, 255, 0.6);

    --color-contrast-light-8: rgba(0, 0, 0, 0.8);
    --color-contrast-dark-8: rgba(255, 255, 255, 0.8);

    --color-static-light: white;
    --color-static-dark: black;

    --color-static-dark-1: rgba(0, 0, 0, 0.1);
    --color-static-light-1: rgba(255, 255, 255, 0.1);

    --color-static-dark-2: rgba(0, 0, 0, 0.2);
    --color-static-light-2: rgba(255, 255, 255, 0.2);

    --color-static-dark-4: rgba(0, 0, 0, 0.4);
    --color-static-light-4: rgba(255, 255, 255, 0.4);

    --color-static-dark-6: rgba(0, 0, 0, 0.6);
    --color-static-light-6: rgba(255, 255, 255, 0.6);

    --color-static-dark-8: rgba(0, 0, 0, 0.8);
    --color-static-light-8: rgba(255, 255, 255, 0.8);

    /***/

    /* -- font -- */

    /* font 1 */
    --font-1-family: hummingbird, sans-serif;
    /* --font-1-weight-light: 400; PLACEHOLDER */
    --font-1-weight-medium: 400 PLACEHOLDER;
    /* --font-1-weight-heavy: 700 PLACEHOLDER; */

    /* font 2 */
    --font-2-family: chaparral-pro, serif;
    /* --font-2-weight-light: 300 PLACEHOLDER; */
    --font-2-weight-medium: 400;
    --font-2-weight-heavy: 600;

    --font-2-size-small: 19px;
    --font-2-size-medium: 22px;
    --font-2-size-large: 24px;

    /* base font */
    font-family: var(--font-2-family);
    font-size: var(--font-2-size-medium);

    /* adobe font requirements */
    font-weight: var(--font-2-weight-medium);
    font-style: normal;

    /***/

    /* -- image -- */

    /* used for gallery JS generation */
    --aspect-ratio: 1 / 1;

    /***/

    /* -- border -- */

    --border-radius-small: 10px;
    --border-radius-medium: 20px;
    --border-radius-large: 30px;

    /***/

}

/***/

/* -- tags -- */

body {
    display: grid;
    grid-template: 100vh auto auto / 5vw repeat(6, 1fr) 5vw;
    column-gap: var(--space-medium);
    background-color: light-dark(var(--color-background-light), var(--color-background-dark));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-1-family);
    line-height: 1;
    /* padding-bottom: var(--space-tiny); PLACEHOLDER */

    /* adobe font requirements */

    font-weight: var(--font-1-weight-medium);
    font-style: normal;

    /***/
}

h1 {
    font-size: 4rem;
    color: var(--color-static-light);
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.6rem;
}

p {
    color: light-dark(var(--color-contrast-light),
            var(--color-contrast-dark));
}

p:not(:last-of-type) {
    margin-bottom: var(--space-medium);
}

a {
    color: light-dark(var(--color-accent-light),
            var(--color-accent-dark));
    text-decoration: none;

    /* adobe font requirements */

    font-weight: var(--font-2-weight-medium);

    /***/

}

a:not(button > a) {
    border-bottom: solid 5px light-dark(var(--color-contrast-light-1),
            var(--color-contrast-dark-1));
}

button {
    border-radius: 10px;
}

button>a {
    color: var(--color-static-light);
}

button>a:hover {
    color: var(--color-static-light-6);
}

button:hover {
    background-color: light-dark(var(--color-accent-opaque-dark), var(--color-accent-opaque-light));
    transition-property: background-color;
    transition-duration: 0.5s;
}

header {
    display: grid;
    grid-template: subgrid / subgrid;
    grid-area: 1 / 1 / 2 / -1;
    background-color: light-dark(var(--color-accent-opaque-light),
            var(--color-accent-opaque-dark));
    background-image: url(./img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-bottom: var(--space-large);
}


header>div {
    grid-area: 1 / 1 / -1 / -1;
    background-color: light-dark(var(--color-accent-opaque-light), var(--color-accent-opaque-dark));
    z-index: 2;
}

/* background overlay hover transition PLACEHOLDER
header>div:hover{
    transition-property: background-color;
    transition-duration: 3s;
    transition-delay: 1s;
    background-color: transparent;
}*/

/* header video initial opacity PLACEHOLDER
header > div ~ *:not(video) {
    opacity: 1;
*/

/* header video PLACEHOLDER
header>video {
    grid-area: 1 / 1 / 2 / 9;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
} */

/* selects all except the header video PLACEHOLDER
header:hover > div ~ *:not(video) {
    transition-property: opacity;
    transition-duration: 2s;
    transition-delay: 1s;
    opacity: 0;
}*/

header>nav {
    grid-area: 1 / 1 / 2 / 9;
    z-index: 3;
    justify-self: center;
    height: min-content;
    margin-top: var(--space-medium);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: var(--space-tiny) var(--space-medium);
    border-radius: 10px;
    background-color: var(--color-contrast-dark-4);
}

header>nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: var(--space-large);
}

header>nav ul>li {
    display: inline-flex;
}

header nav a {
    color: var(--color-static-light);
    border-bottom: solid 1px;
    border-color: var(--color-static-light);
}

header nav a:hover {
    color: var(--color-static-light-6);
    border-color: transparent;
    transition: border 0.5s ease-out;
}

header>hgroup {
    grid-area: 1 / 3 / 2 / span 4;
    z-index: 3;
    align-self: center;
    text-align: center;
    max-width: 50vw;
    justify-self: center;
}

header>hgroup>p {
    padding-bottom: var(--space-medium);
    color: var(--color-static-light);
}

header>hgroup>button:first-of-type {
    margin-right: var(--space-small);
}

header>span {
    grid-area: 1 / 1 / 2 / 9;
    z-index: 2;
    font-family: var(--font-1-family);
    font-size: clamp(100vh, 100vh, 100vw);
    opacity: 0.1;
}

main {
    display: grid;
    grid-template: auto auto / subgrid;
    grid-area: 2 / 1 / 3 / -1;
}

main>section {
    grid-template: subgrid / subgrid;
    margin-bottom: var(--space-large);
}

main>section:first-child {
    grid-area: 2 / 2 / 3 / -2;
    display: flex;
    gap: var(--space-medium);
}

main>section:first-child>hgroup {
    padding: var(--space-small);
    border: solid 1px;
    border-color: var(--color-accent-light);
    border-radius: var(--border-radius-medium);
}

main>section:first-child>hgroup>img {
    margin-bottom: var(--space-small);
}

main>section:last-child {
    grid-area: 3 / 3 / 4 / -3;
    background: white;
}


footer {
    display: grid;
    grid-template: subgrid / subgrid;
    grid-area: 3 / 1 / 4 / -1;
}

/***/

/* -- media -- */

/* @media (max-width: 768px) {} */



@media (max-width: 980px) {
    dialog {
        max-width: 90vw;
    }

    header>hgroup {
        grid-area: 1 / 2 / 2 / -2;
    }

}


@media (max-width: 1200px) {
    body {
        grid-template: 100vh auto auto / 3vw repeat(6, 1fr) 3vw;

    }

    header>nav {
        display: none;
    }

    header>hgroup {
        max-width: none;
    }
}

@media (min-width: 1921px) {
    body {
        grid-template: 100vh auto auto / 20vw repeat(6, 1fr) 20vw;
    }

    /* header>figure>picture>img {
      aspect-ratio: 3 / 1;
    } */
}

/***/